<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analyzing your text</title>
</head>
<body>
    <h1>Your text - {{ purpose }}</h1>
    <p>
        {{ analyzed_text }}
    </p>
</body>
</html>